<div class="row container justify-content-center m-auto p-5">
  <div class="col-lg-12">
    <div class="card px-3">
      <div class="card-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" 
            #todoName="ngModel" [(ngModel)]="newTodoName" maxlength="200" 
            aria-label="What do you need to do today?" aria-describedby="char-counter">
          <div class="input-group-append">
            <span class="input-group-text" id="char-counter">{{ 200 - newTodoName.length }} / 200</span>
          </div>
          <button class="ml-3 btn btn-success" (click)="addTodo()">Add</button>
        </div>


        <div class="list-wrapper">
          <ul class="d-flex flex-column-reverse todo-list">
            <div *ngIf="todoList$ | async; let todoList;">
              <li *ngFor="let task of todoList.reverse()">
                <div class="row w-100 m-0 " style="height: 60px;">
                  <div class="col-10 p-0">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control todo-task-input" maxlength="200" 
                      [(ngModel)]="task.name" aria-describedby="char-counter"
                        (click)="editTodoTask($event, task.id)">
                      <div class="input-group-append">
                        <span class="input-group-text todo-task-char-count" id="char-counter">{{ 200 - task.name.length }} / 200</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-2 text-right pr-0">
                    <button type="button" class="btn btn-danger" (click)="deleteTodo(task.id)">Delete</button>
                  </div>
                </div>           
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
